@charset "utf-8";
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Microsoft YaHei",微软雅黑,"Microsoft JhengHei",华文细黑,STHeiti,MingLiu;
    font-size:.7em;


}

ul {
  list-style:none;
}
img {
  border:none;
}

a:link {
  color:#000;
  text-decoration:none;
}
a:visited {
  color:#000;
  text-decoration:none;
}
a:hover {
  color:#000;
  text-decoration:none;
}
a:active {
  color:#000;
  text-decoration:none;
}
#banner-img{
    width:100%;
}

#banner-img{
    width:100%;
}

.clear{clear:both;}

.banner-div{
    position:relative; 
}
.banner-text{
    position: absolute;
    height: 1.4rem;
    width: 100%;
    background-color: rgba(0,0,0,0);
    color: #fff;
    padding-left: 1rem;
    padding-right: 1rem;
    z-index:9999999;
}
.banner-top{
    top: 0;
    z-index:9999999;
}

.banner-bottom{
    font-size: 15px;
    bottom: 0;
}
.pull-right{
  margin-right: 10px;
    color:#f96f0c !important;
}
.buttons-row_content{
  width: 95%;
  margin: .5rem auto;
}
.buttons-row_content .button {
    border-radius: 0;
    background:#e4e4e4;
    width: 50%;
    height: 40px;
    line-height: 40px;
    border-color: #d1d1d1;
    color: #7c7c7c;
    text-decoration: none;
}
.buttons-row .button.active {
    background-color: #f96f0c;
    color: #fff;
    z-index: 90;
    overflow: hidden;

}


.list_supply{
   margin: .75rem 0;
   font-size: .65rem;
}

.list_supply .item-content {
    
    padding-left: .4rem;
  }
.list_supply .item-media+.item-inner {
    margin-left: .4rem;
}

.list_supply.media-list  .item-media{
        padding-top: .5rem;
}
.list-block .item-link .item-inner{
    padding-right: .1rem;
    background-image: url("");
}
.list_supply .item-title{
    white-space: pre-wrap;
     overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.item_fontstyle{
  font-size: .6rem;
  color: #999;
}
.item-after_price{
   font-size: .75rem;
   color:#c00!important;
}
.list_supply .item-text{
  height: auto;
}



.button_list{
  margin:.5rem 0rem .5rem .4rem;  
}
.button_list .button{
  margin:.1rem .5rem;
  border-radius: .25rem!important;
  border:none!important;
  background-color: #E6E6E6;
  color:#855858;
}


 .measurement_row {
   margin-left:-1%;
   border-bottom: 1px solid #999;
 }
 .measurement_row .button{
    background-color: #0080FF;
    color: #fff;
 padding:0 .2rem;}
 .measurement_row .col-80 span{
float: right;
margin-right: 4%;
padding:.2rem;
color: #f96f0c;
 }
 .screen_row {
  margin:.5rem 0rem .4rem .4rem;  
 }
 .screen_row .button{
  margin:.1rem .5rem;
  border-radius: .25rem!important;
  border:none!important;
  background-color: #E6E6E6;
  color:#855858;
 padding:0 .2rem;
 }
 .screen_row img{
     width: 30%;vertical-align: middle;
 }



.search{width: 95%;
margin: 10px auto;
border-radius: 5px;
border:1px solid #d1d1d1;
}

.search_text{float: left;
width: 85%;
border:none;
color:#dbc7c7;
padding:2%;
margin:0 0 0 2px
}

.search_img{width:10%;
float:right;
padding:2%;}

.search_img img{
  width: 100%;
}






/*发布选择*/
.choose_type {
  
   line-height: 1.5rem;
   font-size: .85rem!important;

}
.choose_type ul li{
  border-bottom: 1px solid #bcbcbc;
}
.choose_type ul li a{
  display: block;
  width: 100%;
  padding-left: .5rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
  color: #666666!important;
}




/*发布农副产品*/

.item-inner .text-content{
        height: auto;
    line-height: 1.3rem;
}
.list-block ul:before{
  content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: auto;
    right: auto;
    height: 0;
    width: 100%;
    background-color: #e7e7e7;
    display: block;
    z-index: 15;
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
}
.list_LandMines input[type=number]{
  height:1.3rem;
 }
 .list_LandMines .price_cope_row input[type=text]{
  height:1.3rem;
 }
.list_LandMines select{
  height: auto;
  font-size: .7rem; 
}
.list_LandMines{
   margin: 0rem 0;
}
.fileElem-photo{
  width: 5rem;
  height:5rem;
  margin: 1rem auto 1rem;
  display: inherit;
  background-image: url("../images/nlmy_btn_sctp.png");
  background-size: 100%;
}
.fileInp {
    border: 1px solid;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.fileInp-opacity {
    opacity: 0;
}
.files-wrap img {
    width: 2rem;
    height: 2rem;
    margin: 0 auto;
}
.inp-text{
    font-size: .7rem!important; 
    text-align: left;
    width:100%;
    border:none;
}
 .list_LandMines input[type=number]{
  height:1.3rem;
 }
 .list_LandMines .price_cope_row input[type=text]{
  height:1.3rem;
 }
.list_LandMines select{
  height: auto;
  font-size: .7rem; 
}
.styled-select select {
   padding-top: 0rem;
   font-size: .75rem;
   border: 1px solid #ccc;
   height: 34px;
   -webkit-appearance: none; /*for chrome*/
}
.styled-select {
   overflow: hidden;
   background: url("../images/tong_btn_fang.png") no-repeat right #fff;
   background-size: 50%;
}
.price_cope_row .col-20,.price_cope_row .col-5{
   margin-left: 0px;
}
.price_cope_row .col-28{
    width: 25%;
     margin-left: 1rem;

}

.list-block .introduction:after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    right: auto;
    top: auto;
    height: 0px;
    width: 100%;
    background-color: #e7e7e7;
    display: block;
    z-index: 15;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
}
.introduction_line{
  margin-top: -10px;
}

.textaera-row {
    overflow: initial;
    margin-left: .1rem;
    margin-top: .5rem;
    margin-bottom: .4rem;
}
.textarea-content{
  position: relative;
  border-radius: .2rem;
  height: 4rem;
  border: 1px solid #999999; 
}

.equip-content .row {
    padding-top: 0rem;
    padding-bottom: .4rem;
}
.equip-content .button.button-danger{
   background-color: #f96f0c;
   color: #fff;
   font-size: .65rem;
     padding: 0;
}
.telnumber{
 margin-top: 0rem!important;
}
.button.button-disable {
    color: #AFAFAF;
    background: #fff;
    border:1px solid #AFAFAF;
    padding: 0;
    line-height: 1.2rem;
     font-size: .65rem;
}
 .savebtn .button-fill{
  background-color:  #E6E6E6;
  color: #f96f0c;
}



/*发布土地厂矿*/
.li_line{
  border-bottom: 1px solid #999;
}
.transfer_row .col-65{
   width: 65%;
   margin-left: .2rem;
}
.transfer_select select {

   padding-top: 0rem;
   font-size: .75rem;
   border: 1px solid #ccc;
   height: 34px;
   -webkit-appearance: none; /*for chrome*/
}
.transfer_select {
   overflow: hidden;
   background: url("../images/tong_btn_fang.png") no-repeat right #fff;
   background-size: 10%;
}

.transfer_row1 .col-20{
  width: 20%;
  margin-left: 2rem;
}
.transfer_row1 .col-65{
   width: 65%;
   margin-left: .2rem;
}





/*供－土地－显示*/
.land_introduction{
   margin:4%;
   border-bottom: 1px solid #999;
   padding-bottom: 8%;
}
.land_introduction .ptimg{
  margin-top: -.4rem;
   width: 7%;
   float: right;
   z-index: 999;
}

.land_introduction .ptimg img{
  width: 100%;
}
.transport_row .col-33{
visibility:hidden;
}
.red_word{
  color: #c00;
  font-size: .8rem!important;
}
.contact{
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  float: right;
  margin-left: 0.1rem;
}
.bar-name{
  line-height: 2.5rem;
  padding-left: .5rem;
  font-size: .7rem;
}
.under-bar{
  z-index: 20;
}




/*展示管理*/
.list_add{
   margin:0;
   font-size: .65rem;

}
.list_add.media-list  .item-media{
    margin-top: -2rem;
}
.list-block .item-link .item-inner{
    padding-right: .5rem;
    background-image: url("");
    background-size: .7rem;
    background-repeat: no-repeat;
}
.list_add .item-title{
    white-space: pre-wrap;
    height: 2rem;
}
.list_add  .item-subtitle{
  padding-top: .2rem;
 color:#999;
 font-size: .65rem;
}
.item-price_row{
  padding-top: .2rem;
}
.item-text_style{
  font-size:.6rem;
   color: #855858;
}
.price_row{
  font-size: .8rem!important;
  color:#c00!important; 
}
.item-after_button{
 margin-top: -.3rem;
}
.item-after_button .button{
 margin-left: 1rem;
}
.status_row{
  margin-top: 4%;
  margin-left: 0;
}

.status_row .col-25{
  color: #c00;
  width: 5%;
  text-align: center;
 margin-left: 1rem;
}
.status_row .col-25 img{
  width: 100%;
  height: 50%;
}
.status_row .col-5{
  margin-top: .1rem;
}
.list_add  .item-after .button-danger{
   color: #fff;
    background: #f96f0c;
}


/*收藏列表*/
#pageMyCollection .list_add.media-list  .item-media{
    margin-top: .1rem;
}

/*浏览记录*/
#pageBrowserHistory .list_add.media-list  .item-media{
    margin-top: 0rem;
}






/*分类弹窗*/
/*分类－苗种医药*/
.miao_title{
  border-bottom: 1px solid #999;
  z-index: 0;
}
.tab_row .button{
  width: 50%;
}









/*分享*/
.share-wrap .row {
    margin-top: .5rem;
    margin-bottom: .5rem;
}
.share-wrap img {
    width: 70%;
    height: 2.5rem;
    margin: 0 auto;
    padding: 0;
}
.share-wrap .share-text {
    font-size: .5rem;
    margin-top: .2rem;
}


.chooseweizhi{
  margin-top: .5rem;
}



/*改*/
.styled-select1{
  width: 3rem;
    background-size: 30%;
}
.styled-select1 select{
    font-size: .6rem;
}
.row .inputwidth{
  width: 20%;
}
.row .inputwidth1{
   width: 16%;
}
.row .yuan{
  width: 4%;
  font-size: .65rem;
}

/*添加的列表样式*/
.card{ 
  margin:0rem 0 1rem;
}

.card-content .list-block .item-content{
  padding-left: .5rem;
}
.card-content .item-media img{
   width: 4rem;
   border-radius: .2rem;
   height: 4rem;  
}

.card-content .list-block .item-media+.item-inner{
  margin-left: .4rem;
}
.card-content .item-inner .item-title-row .item-title{
   height: 2.2rem!important;
    font-size:.7rem;
    max-width: 100%;
   white-space: pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

}

 .card-content .item-inner .item-title-row .item-title {
    height: 2.2rem!important;
    font-size:.7rem;
    max-width: 100%;
   white-space: pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
   
}
.card-content .item-inner .item-title-row .item-subtitle1{
     font-size: .6rem;
     color: #999;
}
.card-content .item-inner .item-title-row  .item-after{
     color: #c00;
     font-size: .65rem;
}
 .card-content .item-inner .item-title-row .item-subtitle2 img{
 width:80%;
 z-index: 99999;
}
.card-content .item-inner .item-title-row .color_after{
  color: #999;
}



/*轮播图－改*/
.swiper-container{
  height: auto;
}
.row .fenlei{
clear: both!important;
}

/*收藏和举报*/
.icon-sel{
  margin-right: -13.5rem;
  display: inline-block;
  background-size: 100% 100%;
  cursor: pointer;
}

.icon-sel1{


  background-size: 100% 100%;
  cursor: pointer;
}
.icon-sel-list {
    margin-right: 0.05rem;
    display: inline-block;
    background-size: 100% 100%;
    cursor: pointer;
}
.start-size{
  width: 1rem;
  height: 1rem;
}
.pos-size{
  width: .7rem;
  height: 1rem;
}
/*空收藏*/
.scstart-line{
  background-image: url("../images/tong_btn_sc_y.png");
}
/*全收藏*/
.scstart-fill{
  background-image: url("../images/tong_btn_sc_n.png");
}
/*空举报*/
.jbstart-line{
  background-image: url("../images/tong_btn_jb_n.png");
}
/*全举报*/
.jbstart-fill{
  background-image: url("../images/tong_btn_jb_y.png");
}

.back-icon{
  background-image: url("../images/tong_btn_dwtz.png");
}
.xianshi-row{
  font-size: .75rem;}
.sc{
  position: absolute;
   
    right: .1rem;
  background-size: 100% 100%;
  cursor: pointer;
}
.showList{}
.hideList{}

/*zeng*/
/* .black_overlay{
         display: none; 
         position: absolute;  
         top: 0%;  
         left: 0%;  
         width: 100%;  
         height: 100%;  
         background-color: black;  
         z-index:1001;  
         -moz-opacity: 0.8;  
         opacity:.80;  
         filter: alpha(opacity=80);  
    } 
    .white_content {
        display: none;  
        position: absolute; 
        top: 25%; 
        left: 25%; 
        width: 50%; 
        height: 50%; 
        padding: 16px;
        border: 2px solid orange; 
        background-color: white; 
        z-index:1002;
        overflow: auto;
    }  
.miaozhongul,.yiyaoul{
  line-height: 1.5rem;
}
    .cur{ background:#bebebe}*/
.miaozhongul,.yiyaoul{
  line-height: 1.5rem;
}
    .black_overlay{
         display: none; 
         position: fixed;  
         top: 0%;  
         left: 0%;  
         width: 100%;  
         height: 100%;  
         background-color: black;  
         z-index:1001;  
         -moz-opacity: 0.8;  
         opacity:.80;  
         filter: alpha(opacity=80);  
    } 
    .white_content {
        display: none;  
        position: fixed; 
        top: 25%; 
        left: 5%;
        width: 90%; 
        height: 50%; 
        padding: 16px;
        
        background-color: white; 
        z-index:1002;
        overflow: auto;
    }  

    .cur{ background:#bebebe}


    .tudititle li{
color:#111;
border:1px solid lightgrey;
height:25px;
line-height:25px;
list-style:none;
text-decoration: none;
text-align:center;
width:40%;
background:beige;

}

.tudititle li.active {

border-right:1px solid white;background:white;

}

.tudicontent{

float:right;
width:60%;
  text-align: center;

height: 250px;
overflow:hidden;

border-right:1px solid lightgrey;
border-bottom:1px solid lightgrey;
border-top:1px solid lightgrey;
border-left:1px solid lightgrey;
}
.tudicontent .content{
height: 250px;
padding:0 15px;
-moz-border-radius: 5px;

}
.tudicontent .changkuangcontent ul li{
 border-bottom: 1px solid lightgrey;
    display: block;
   height: 25px;
    line-height: 25px;

}
.tudiclassify-title{
  float:right;
  text-align: center;
width:60%;
height: 25px;
line-height: 25px;
border-top:1px solid lightgrey;
border-right:1px solid lightgrey;
border-left:1px solid lightgrey;

}
.jijufenleicol{
  text-align: center!important;
}

 /*改*/
 .withcityhide .col-33{
  margin-left: 17%;
 }




/*增*/
 .white_content_SidelineProducts {
  font-size: .75rem;
        position: fixed;
         top: 10%;
        left: 5%;
        width: 90%; 
        padding: 16px;

}  
.white_content_SidelineProducts ul {
   margin-bottom:  10%;
}
.white_content_FryMedicine {
    font-size: .75rem;
        position: fixed;
         top: 10%;
        left: 5%;
        width: 90%; 
        padding: 16px;

}
.white_content_FryMedicine .tabs .button{
        position: fixed;
         top: 70%;
         left: 5%;
         width: 90%; 
}
.white_content_LandMines{
     font-size: .75rem;
        position: fixed;
         top: 10%;
        left: 2%;
        width: 96%; 
       
}
.white_content_HireEquipment{
      list-style: none;
     font-size: .75rem;
        position: fixed;
         top:20%;
        left: 5%;
        width: 90%; 

       
}
.white_content_HireEquipment .detail-li{
  margin-bottom: 20%;
}

.SidelineProductsUl li{
  line-height: 1.5rem;
}

.tudisure{
     margin: 15.75rem 0;
}

.panel{
  background: rgba(0, 0, 0, .4);
}

.withfenlei{

  overflow: hidden;
}
.miaozhong-row .button.tab-link{
   border-color: #fff;
   color: #fff;
}
/*.addpic{

  background-image: url("../images/tong_btn_fang.png");
  background-repeat:no-repeat;
  background-position:right;
  background-size:30%;
padding: 0 .5rem 0rem 0rem!important;
}
*/

.icon-down:before,.icon-up:before{

    float: right;
}
/*增*/

.BMap_Marker img{
  width: 40%;
}
.collection{
  width: 10%;
    display: block;
  float: right;

}


.fileElem-photo{
  width: 2.5rem;
  height: 2.5rem;
  margin: auto;
  display: inherit;
  background-image: url("../images/addpic.png");
  background-size: 100%;
}
.fileInp {
    border: 1px solid;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.fileInp-opacity {
    opacity: 0;
}
.files-wrap img {
    width: 2rem;
    height: 2rem;
    margin: 0 auto;
}
.img-div{
  display: inline-block;
  width: 5rem;
  border:2px solid #777777;
  border-radius: 3px;
  position: relative;
  margin-right: .3rem;
  margin-bottom: .3rem;
}
.img-div img{
  width: 100%;
}
.close-div{
  position: absolute;
  right: -8px;
  top: -8px;
  background-image: url("../images/icon/close.png");
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.tabcard{
  margin-bottom: 4rem!important;
}

.s_border{border:#d1d1d1;
}

.searchbar{width:90%;
margin: 0 auto;
}

.searchbar-cancel{color:#f96f0c}

.biaoti_col input{
    width:100%;
    height:1.3rem;
}

.d_pic{width:1rem!important;
display: block!important;
}


.select_block .button_select .zidinyi button{
    position: fixed;
    z-index: 999;
    width: 40%;
    height: 1.5rem;
    bottom:2rem;
    left: .5rem;
    background-color: #c00;
    color: #fff;
    font-size: .8rem;
    border-radius: .3rem;
}

.line_quyu select {
    color: #f96f0c;
    border-right: 1px solid #999;
    text-align: center;
    height: 1.6rem;
    line-height: 1.6rem;
    font-size: 14px;
}



  .localplace {
      position: fixed;
      z-index: 999;
      width: 47%;
      height: 1.5rem;
      bottom:4rem;
      left: 1rem;

      color: #fff;
      font-size: .8rem;
      border-radius: .3rem;
  }
.localplace .dingtupian{

    width: 18%;
    height: 1.5rem;

    margin-right:.5rem;

    font-size: .8rem;
    border-radius: .3rem;
}

.localplace .dingtupian img {
    width: 100%;
    height: 100%;
}
.localplace button{
    position: fixed;
    z-index: 999;
    display:block;
    width: 30%;
    height: 1.5rem;
    bottom:4rem;
    left:2rem;
    background-color: #c00;

    color: #fff;
    font-size: .8rem;
    border-radius: .3rem;
}
